@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: hsl(0, 0%, 100%);
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 65vw bottom 60vh, left 30vw top 20vh;
}

h2 {
    font-size: 1.125rem;
    font-weight: 600;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.main-top {
    margin-bottom: 75px;
}

.main-top,
.main-bottom {
    display: flex;
    justify-content: space-between;
    width: 1110px;
}

.top-text {
    width: 410px;
}

.top-text__title {
    font-weight: 700;
    font-size: 4rem;
    color: hsl(300, 43%, 22%);
    margin-bottom: 40px;
}

.top-text__about {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: hsl(303, 10%, 53%);
}

.top-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-rating__item {
    display: flex;
    align-items: center;
    background: hsl(300, 24%, 96%);
    width: 445px;
    padding: 20px 30px;
    border-radius: 10px;
}

.top-rating__item-stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-right: 30px;
}

.top-rating__item-text {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 1rem;
}

.top-rating__item:nth-of-type(1) {
    margin: 30px 100px 20px 0;
}

.top-rating__item:nth-of-type(2) {
    margin: 0 50px 20px 0;
}

.bottom__card-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1110px;
}

.card-block__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 350px;
    background: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    line-height: 1.5rem;
}

.card-block__item:nth-of-type(2) {
    margin-top: 15px;
}

.card-block__item:nth-of-type(3) {
    margin-top: 30px;
}

.item-user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.item-user__photo {
    width: 40px;
    border-radius: 50%;
    margin-right: 25px;
}

.item-user__data-status {
    color: hsl(333, 80%, 67%);
}

.item-feedback {
    width: 280px;
}

@media (max-width: 1199.98px) {

    body {
        background-position: right 55vw bottom 60vh, left 20vw top 20vh;
    }

    .main-top,
    .main-bottom,
    .bottom__card-block {
        width: 992px;
        justify-content: space-evenly;
    }

    .top-text {
        width: 400px;
    }

    .top-text__title {
        font-size: 3rem;
    }

    .top-text__about {
        font-size: 1rem;
    }

    .top-rating__item {
        width: 420px;
        padding: 20px;
    }

    .card-block__item {
        width: 300px;
        padding: 20px;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
    }

    .item-feedback {
        width: auto;
    }
}

@media (max-width: 991.98px) {
    body {
        background-position: right 50vw top 0, left 20vw bottom 0;
    }

    .main {
        min-width: 720px;
        margin: 50px 0;
    }

    .main-top,
    .main-bottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 720px;
    }

    .top-text {
        width: 720px;
        text-align: center;
    }

    .top-text__title {
        font-size: 4rem;
    }

    .top-text__about {
        font-size: 1.375rem;
        line-height: 2rem;
    }

    .top-rating {
        margin-top: 50px;
    }

    .top-rating__item {
        margin: 0 !important;
        width: 500px;
        padding: 20px 70px;
    }

    .top-rating__item:nth-of-type(2) {
        margin: 20px 0 !important;
    }

    .bottom__card-block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 720px;
    }
    
    .card-block__item {
        width: 500px;
        padding: 30px 40px;
    }

    .item-feedback {
        width: 400px;
        margin: 0 auto;
    }

    .card-block__item:nth-of-type(2) {
        margin: 30px 0;
    }

    .card-block__item:nth-of-type(3) {
        margin: 0;
    }
}

@media (max-width: 767.98px) {
    body {
        background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    }

    .main {
        min-width: 520px;
    }

    .main-top,
    .top-text {
        width: 520px;
    }

    .top-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .top-text__title {
        font-size: 3rem;
    }

    .top-text__about {
        width: 450px;
        font-size: 1.25rem;
        line-height: 1.675rem;
    }
}

@media (max-width: 575.98px) {
    .main {
        min-width: 330px;
    }

    .main-top,
    .top-text,
    .top-text__about,
    .main-bottom,
    .bottom__card-block,
    .card-block__item {
        width: 330px;
    }

    .top-text__title {
        width: 250px;
        font-size: 2rem;
    }

    .top-text__about {
        font-size: 1.125rem;
        line-height: 1.25rem;
        font-weight: 400;
    }

    .top-rating {
        align-items: center;
    }

    .top-rating__item {
        flex-direction: column;
        width: 330px;
        padding: 15px 0;
    }

    .top-rating__item-stars {
        margin: 0 0 15px 0 ;
    }

    .card-block__item {
        padding: 40px 30px;
    }

    .item-feedback {
        width: 255px;
    }
}